#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 14; /* Specify a stack order in case you're using a different order for other elements */
}
#overlay > div {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white; /* Black background with opacity */
    z-index: 15; /* Specify a stack order in case you're using a different order for other elements */
    font-size: xx-large;
}
#overlay > span {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white; /* Black background with opacity */
    z-index: 15; /* Specify a stack order in case you're using a different order for other elements */
    font-size: xx-large;
}

#instructions {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 14; /* Specify a stack order in case you're using a different order for other elements */
    font-size: 20pt;
}

.mat-button {
    display: block;
    text-decoration: none;
    text-align: center;
    align-items: stretch;
    border-radius: 0px;
    vertical-align: middle;
    font-size: 24pt;
}

.mat_submit > button {
    display: block;
    text-decoration: none;
    text-align: center;
    align-items: stretch;
    border-radius: 0px;
    width: 100%;
    height: 10%;
    font-size: 24pt;
}

.mat_grid {
    /*
    display: grid;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    */
    height: calc(90% - 56px);
}

.eeg_submit > button {
    display: block;
    text-decoration: none;
    text-align: center;
    align-items: stretch;
    border-radius: 0px;
    width: 100%;
    height: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

.center_matrix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:45%;
}

#eeg_test_table td {
    text-align: center;
}
