{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div id="main-div" class="card-body">
        <h3>You will need:</h3>
        <ul>
            <li>Hand gel</li>
            <li>PTA form</li>
            <li>Otoscope</li>
            <li>Otoscope tips</li>
        </ul>

        <h3>Procedure:</h3>
        <ol>
            <li>Perform otoscopy, checking in particular for redness or bulging
            tympanic membrane</li>
            <li>Questions to ask:
                <ul>
                    <li>Has the participant experienced discomfort, pain or discharge
                    in either ear?</li>
                    <li>Are they currently being
                        treated for any ear-related problems</li>
                    <li>Have they previously had surgery involving the ears</li>
                    <li>Have they been exposed to any loud noises in the last 24 hours?</li>
                    <li>Do they experience tinnitus?</li>
                    <li>Do they hear better from a particular ear? (start with that one)</li>
                </ul>
            </li>
            <li>Explain and demonstrate procedure
                <ul>
                    <li>"I will insert a probe into the opening of your ear
                        canal. The probe has a soft tip to seal the ear. You
                        will feel some pressure in your ear for a few seconds
                        while I measure the function of your middle ear. This
                        test is automatic and I do not require you to do
                        anything, but please avoid any unnecessary movement and
                        avoid speaking or swallowing after the probe has been
                        inserted. Should you find the procedure painful and
                        want me to stop, please indicate this by either saying
                        "stop" or by raising your hand."</li>
                    <li>Tones may be heard in either ear</li>
                    <li>Instruct participant to report any discomfort or
                        pain experienced during the examination</li>
                    <li>If needed the test can be stopped at any time</li>
                </ul>
            </li>
            <li>Perform air coduction procedure
                <ul>
                    <li>Freq. order: 1000, 2000, 4000, 8000, 500, 250, 1000 (again)</li>
                    <li>Decrease by 10dB until no response, increase by 5 dB until response</li>
                    <li>When subject responds to 2/3, 3/4 (&gt;50%), take this as the threshold</li> 
                </ul>
            </li>
            <li>Perform bone coduction procedure
                <ul>
                    <li>Place bone conductor over the worse ear (based on AC results)</li>
                    <li>Occlude test ear with headphones</li>
                    <li>Freq. order: 1000, 2000, 4000, 500</li>
                    <li>Decrease by 10dB until no response, increase by 5 dB until response</li>
                    <li>When subject responds to 2/3, 3/4 (&gt;50%), take this as the threshold</li> 
                </ul>
            </li>
        </ol>
        <div>
            <img src=""
        </div>

    </div>
</div>
{% endblock %}
