{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div id="main-div" class="card-body">
        <h3>You will need:</h3>
        <ul>
            <li>Hand gel</li>
            <li>Typanometer</li>
            <li>Otoscope</li>
            <li>Otoscope tips</li>
        </ul>

        <h3>Procedure:</h3>
        <ol>
            <li>Questions to ask:
                <ul>
                </ul>
            </li>
            <li>Explain and demonstrate procedure
                <ul>
                    <li> "I am going to test your hearing by measuring the
                        quietest sounds that you can hear. As soon as you hear
                        a sound (tone), press the button. Keep it pressed for
                        as long as you hear the sound (tone), no matter which
                        ear you hear it in.  Release the button as soon as you
                        no longer hear the sound (tone). Whatever the sound,
                        and no matter how faint the sound, press the button as
                        soon as you think you hear it, and release it as soon
                        as you think it stops."</li>
                    <li>Tones may be heard in either ear</li>
                    <li>Instruct participant to report any discomfort or
                        pain experienced during the examination</li>
                    <li>If needed the test can be stopped at any time</li>
                </ul>
            </li>
            <li>Perform procedure
                <ul>
                    <li>Freq. order: 1000, 2000, 4000, 8000, 500, 250, 1000 (again)</li>
                    <li>Decrease by 10dB until no response, increase by 5 dB until response</li>
                    <li>When subject responds to 2/3, 3/4 (&gt;50%), take this as the threshold</li> 
                </ul>
            </li>
        </ol>

    </div>
</div>
{% endblock %}
