{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div id="main-div" class="card-body">
        <h3>You will need:</h3>
        <ul>
            <li>Hand gel</li>
            <li>Typanometer</li>
            <li>Otoscope</li>
            <li>Otoscope tips</li>
        </ul>

        <h3>Procedure:</h3>
        <ol>
            <li>Explain and demonstrate procedure
                <ul>
                    <li>
                        I will insert a probe into the opening of your ear
                        canal. The probe has a soft tip to seal the ear. You
                        will feel some pressure in your ear for a few seconds
                        while I measure the function of your middle ear. This
                        test is automatic and I do not require you to do
                        anything, but please avoid any unnecessary movement and
                        avoid speaking or swallowing after the probe has been
                        inserted. Should you find the procedure painful and
                        want me to stop, please indicate this by either saying
                        "stop" or by raising your hand
                    </li>
                </ul>
            </li>
            <li>Perform procedure
                <ul>
                    <li>Turn on tympanometer</li>
                    <li>Check that it is set to 226Hz</li>
                    <li>Check that the correct ear is selected</li>
                    <li>Choose appropriate tip for probe</li>
                    <li>Insert probe, bracing with inserting hand and twisting
                    towards face for tight seal</li>
                    <li>Press start to take measurement</li>
                    <li>Change ear setting and repeat</li>
                    <li>Press "Page" then "Print" to print results</li>
                </ul>
            </li>
        </ol>

    </div>
</div>
{% endblock %}
